
/* common css */

body{
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #152c5b;
}
/* common css */
/* header */
.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
header{
    padding: 15px 0;
    border-bottom: 2px solid #f2f4f6;
}

.logo {
    width: 10%;
    float: left;
}

.logo a{}

.logo a img{
    width: 100%;
}
.menu {
    width: 50%;
    float: right;
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    padding: 0 10px;
    color: #152c5b;
    display: block;
    transition: .3s;
}

.menu ul li a:hover{
   
    color:#008aff;
  
}
.menu ul li:last-child a{
    padding-right: 0;
}

/* header */
/* bannar start */

.bannar{
    padding: 50px 0;
}
.container2{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.b_h1{
    margin: 0;
    font-size: 35px;
    font-weight: 700;
    padding: 0 86px;
    line-height: 70px;
}

.b_h1 span{
    color: #0097e6;

}

.b_p{
    margin: 10px 0 32px;
    padding: 0 61px;
    line-height: 36px;
}
.b_img{
    margin: 0 auto;
    width: 80%;
   
}
.b_img img{
    width: 100%;
}

/* bannar end */
/* Successfully  start*/
.Successfully{
    padding-bottom: 50px ;
}
.s_left{
    width: 42%;
    text-align: right;
    float: left;
}
.s_left h2{
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: red;
}
.s_left p{
    margin: 5px 0 0;
    line-height: 26px;
}
.s_right{

    width: 55%;
    text-align: left;
    float: right;
    

}

.s_right h1{
    margin: 0;
    font-size: 51px;
    font-weight: 700;
}
/* Successfully  end*/
/* feature start */
.feature{
    
}
.container3{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  
   
}
.f_single{
    margin-right: 1.5%;
    width: 27.3%;
    padding: 50px 2.5%;
    float: left;
}
.f_single:first-child{
   background-color: #fdebed;
}

.f_single:nth-child(2){
    background-color: #ebf9f4;
}

.f_single:last-child{
    margin-right: 0px;
    background-color:#fff7e8;
}

.f_single img{}

.f_single .img img{
    width: 100%;
}
.f_single h2{
    margin: 14px 0;
    font-size: 28px;
    font-weight: 700;
}
.f_single p{
    margin: 0;
    line-height: 29px;
}

/* feature end */
/* footer start */
footer{
    background-color: #008aff;
}
footer p{
    padding: 25px 0;
    text-align: center;
    color:#ebf9f4;
  
}
footer a{
    text-decoration: none;
    color:#ebf9f4;
}
/* footer enf */